.innerbackgroundlevel1 {
	text-align: center;
    width:1050px;
    height: auto;
    margin:50px;
	margin-left:30px;
}
.innerbackgroundlevel2 {
    display: inline-block;
	float: center;
    width:1050px;
    height: auto;
    margin: 10px;
 
}
.innerbackgroundlevel3left {

    display: inline-block;
    width: 500px;
    float:left;
    height: 800px;
   
	-webkit-box-shadow: -6px 8px 9px 0px rgba(51, 50, 50, 0.78);
	-moz-box-shadow:    -6px 8px 9px 0px rgba(51, 50, 50, 0.78);
	box-shadow:         -6px 8px 9px 0px rgba(51, 50, 50, 0.78);
	background-color: white;
	z-index: 100;
	border-radius: 25px;
}

.innerbackgroundlevel3right {
    display: inline-block;
    width:500px;
    height: 800px;
    
   float:right;
	-webkit-box-shadow: -6px 8px 9px 0px rgba(51, 50, 50, 0.78);
	-moz-box-shadow:    -6px 8px 9px 0px rgba(51, 50, 50, 0.78);
	box-shadow:         -6px 8px 9px 0px rgba(51, 50, 50, 0.78);
	background-color: white;
	z-index: 100;
	border-radius: 25px;
}



input[type=text],input[type=password],input[type=date], input[type=int] ,select {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
p{
    font:  bold 20px Georgia, serif;
}
table {
color: #333; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
border-collapse:collapse;
border-spacing: 0;
table-layout: fixed;
margin:20px;
}

td, th { solid #CCC; height: 30px; } /* Make cells a bit taller */




td, th {  padding: 5px; width: 250px; font-weight: bold;  }



h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }